@import 'styles/variables.scss';

.recipe {
    // border: 1px solid black;

    margin: 1rem 7rem 2rem 7rem;
    padding-bottom: 2rem;

    font-size: 2.5rem;
    color: $main-dark;
    
    display: flex;
    align-items: flex-end;

    &__head {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-title-tagsline {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            max-width: 110rem;
        }

        &-title {
            font-family: "DM Sans", sans-serif;
            font-size: 6.4rem;
            font-weight: 500;
            line-height: 7rem;
            color: $main-green;
        }

        &-tagsline {
            font-family: "DM Mono", monospace;
            font-size: 2.6rem;
            font-weight: 400;
            padding-left: 1.5rem;
        }

        &-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background: linear-gradient(to right, $main-green, 95%, $main-light 5%);

            margin-left: 1rem;
            min-height: 58rem;
            // flex: none;
            &--ingredients {
                padding: 3rem;

                &-title {
                    font-family: "DM Mono", monospace;
                    font-size: 3rem;
                    font-style: italic;
                    color: $main-light;


                }

                &-table {
                    // margin-top: 2rem;
                    border-collapse: collapse;
                    width: 70rem; 

                    color: $main-light;

                    &-row {
                        border-bottom: 2px solid $main-light;
                    }

                    td:nth-child(2) {
                        text-align: right;
                    }
                }
            }

            &--summary {
                // border: 1px solid black;

                font-family: "DM Mono", monospace;
                font-size: 3rem;
                font-weight: 400;
                line-height: 3rem;
                color: $main-light;

                margin-bottom: 3rem;
                margin-left: 3rem;

                max-width: 60rem;
                min-height: 10rem;


                display: flex;
                flex-direction: column;

                &-main {

                }

                &-byline {
                    margin-top: 2rem;
                    font-weight: bold;
                    color: $main-dark;
                    transition: all .2s;
                    cursor: default;

                    &:hover {
                        color: $main-light;
                    }
                }
            }
        }

        &-diff-image-info {
            display: flex;
            flex-direction: column;

            position: absolute;
            right: 7rem;

            margin-top: 5rem;
            // top: 5rem;
        }

        &-diff {
            min-height: 4rem;
            min-width: 4rem;
            display: flex;
            justify-content: center;
            margin-top: -4rem;
            margin-left: auto;

            border: 1px solid black;

        }

        &-image {
            // background-color: $main-dark;
            min-height: 55rem;
            max-height: 55rem;
            min-width: 55rem;
            max-width: 55rem;
        }

        &-info {
            // border: 1px solid black;
            max-width: 50rem;
            display: flex;

            &-time-serves,
            &-prep-cook {
                display: flex;
                flex-direction: column;
                margin: 1rem;
                line-height: 3.5rem;
            }

            &--total-text {
            }
            
            &--total-num,
            &--serves-num,
            &--prep-num,
            &--cook-num  {
                color: $main-light !important;
            }

        }
    }
}