@import 'styles/variables.scss';

.nav {
    // border: 2px solid black;
    border-bottom: 5px solid $main-dark;

    // min-width: 80%; /// ?
    height: 13.5rem;
    // max-height: 14rem;
    margin: 7rem;
    padding-bottom: 1.5rem;

    font-size: 2.5rem;
    color: $main-dark;
    
    display: flex;
    align-items: flex-end;

    &__logo {
        border-left: 9px dotted $main-light;

        font-family: 'DM Sans', sans-serif;
        font-size: 4.5rem;
        font-weight: 700;
        font-style: italic;
        line-height: 87%;

        word-spacing: 9999rem; // trick to single word line

        flex: 0;
        align-self: stretch;
        padding-left: 1rem;

        transition: all .4s;

        &-demo {
            font-size: 2rem;
            font-family: 'DM Mono', monospace;
            font-style: italic;
            font-weight: 700;
            color: $main-light;

            position: absolute;
            top: 5rem;
            left: 17rem;
            
            transition: all .3s;

            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: #524E65;
            }
        }

        &:hover {
            border-left: 9px dotted $main-dark;
            cursor: pointer;
            
            .nav__logo-demo {
                color: $main-green;
            }
        }
    }

    &__func {
        // border: 1px solid black;

        font-family: 'DM Mono', monospace;
        font-size: 3rem;
        font-weight: 400;
        font-style: italic;


        
        display: flex;
        width: 45rem;
        justify-content: space-evenly;
        margin-left: 3.5rem;

        transform: translateY(1rem);
        min-height: 9rem;


        
        &-search,
        &-recipes,
        &-pantry {
            text-decoration: none;
            color: $main-dark;
            transition: all .2s;

            border-top: 5px dotted $main-light;
            margin-top: auto;
            // padding: .4rem;
            cursor: pointer;

            
        }
        
        &-search, 
        &-recipes, 
        &-pantry {
            &:hover {
                border-top: 5px dotted $main-dark;
            }
        }

    }





    &__social {
        // border: 1px solid black;

        font-family: 'DM Mono', monospace;
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;

        display: flex;
        width: 35rem;
        justify-content: space-evenly;
        margin-left: auto;

        transform: translateY(0.8rem);
        
        &-login,
        &-saved {
            transition: all .2s;
            font-style: normal;
            text-decoration: underline;
            color: $main-dark;
            border-top: 3px dotted $main-light;


            &:hover {
                font-style: italic;
                text-decoration-color: $main-light;
                border-top: 3px dotted $main-dark;
            }
        }

        &-about,
        &-socials,
        &-logout {
            text-decoration: none;
            color: $main-dark;
            transition: all .3s;

            border-top: 3px dotted $main-light;
            
            &:hover {
                border-top: 3px dotted $main-dark;
            }
        }
    }


}