@import 'styles/variables.scss';

.footer {
    // border: 1px solid black;

    background-color: $main-dark;
    color: $main-light;
    
    min-height: 25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &__main {
        display: flex;
        width: 50rem;
        height: 20rem;
        align-items: center;

        &-logo {
            flex: 1;
            // width: 0;

            font-family: 'DM Sans', sans-serif;
            font-size: 4.5rem;
            font-style: italic;
            line-height: 87%;

            word-spacing: 9999rem; // trick to single word line
            padding-left: 2rem;
            border-left: 9px dotted $main-dark;

            cursor: default;

            transition: all .3s;

            &:hover {
                border-left: 9px dotted $main-light;
            }

        }

        &-links {
            flex: 1;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & a {
                font-family: "DM Mono", monospace;
                font-size: 1.7rem;
                font-style: italic;
                line-height: 2.2rem;
                color: $main-light;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &--pages,
            &--more {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__Mlarge {
        position: absolute;
        right: 5rem;
        margin-bottom: 25rem;
        // border: 1px solid yellow;

        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    



        max-height: 50rem;
        max-width: 50rem;
        overflow: hidden;

        z-index: -10000;

        &-img {
            transform: rotate(82deg);
        }

    }
}