@import 'styles/variables.scss';

.a-Featured {
    text-decoration: none;
    color: $main-dark;
}

.featured {

    background: linear-gradient($med-blue 60%, $main-light 40%);
    margin: 0rem 7rem 8rem;
    min-height: 40rem;

    display: flex; 
    padding: 5rem 0 1rem 7rem;
    border-radius: 1rem;

    &__tags {
        // border: 1px solid black;

        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        color: $main-light;

        display: flex;
        flex-direction: column;
        justify-content: left;

        position: absolute;
        
        margin-left: -6rem;
        margin-top: -4.7rem;
        max-height: 8rem;

        // flex: 0;
        z-index: 100;
    }

    &__image {
        // border: 1px solid black;
        background-color: $main-dark;

        height: 30rem;
        width: 30rem;
        // margin: 4rem 0 1rem 7rem;

        border-radius: 3rem;

        flex: none;
    }

    &__title-desc {
        // border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        width: 35rem;

        margin-left: 1.5rem;
        margin-top: 1.8rem;
    }

    &__title {
        // border: 1px solid black;
        
        color: $main-light;
        font-size: 4.7rem;
        font-weight: lighter;
        word-spacing: 9999rem; // trick to single word line
        line-height: 5rem;
        margin-bottom: 1rem;
        min-height: 15rem;
        margin-right: auto;
        
        
        flex: 0;
        align-self: center;

        &-text {
            font-weight: normal;

            &--last {
                font-weight: 700;
            }
        }
    }

    &__desc {
        // border: 1px solid black;
        
        font-family: "DM Mono", monospace;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;

        
        display: flex;
        flex-direction: column;
        margin-top: 2rem;


        &--main {

        }

        &--byline {
            padding-top: 1rem;
            font-weight: 700;
        }
    }

    &__next {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        // border: 3px solid black;

        font-family: 'DM Sans', sans-serif;
        color: $main-dark;
        
        transition: all .2s;
        margin-left: auto;
        margin-bottom: auto;

        position: relative;
        bottom: 10rem;

        padding: 0.2rem;
        
        cursor: pointer;

        &:hover {
            color: $main-light;
            background-color: $main-dark;
        }
    }

    &__info { // for future -> div each for text / nums, center along axes.
        // border: 1px solid black;
        font-size: 2rem;

        
        display: flex;
        flex-direction: column;
        align-self: center;

        align-items: flex-end;

        margin-left: auto;
        position: relative;
        bottom: 5rem;

        padding: 2rem;
        

        &-serves--text,
        &-ing--text,
        &-time--text {
            font-weight: bold;
            padding-right: 2rem;

        }

        &-serves--num,
        &-ing--num,
        &-time--num {
            font-style: italic;
            color: $main-light;

        }

    }

    &__Mlarge {
        position: absolute;
        right: 9rem;
        top: 40rem;
        // border: 1px solid black;

        // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        // clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0% 100%);



        max-height: 50rem;
        max-width: 50rem;
        overflow: hidden;

        // z-index: -10000;

        &-img {
            transform: rotate(90deg);
        }
    }
}