@import 'styles/variables.scss';

.index {
    // border: 1px yellow solid;

    
    display: grid;
    grid-template-rows: 1fr minmax(20rem, 5fr) 1fr;
    grid-template-areas: 
        "navbar"
        "main"
        "footer";
    row-gap: 2rem;
    // height: 100vh;

    &__Mcorner {
        // border: 2px solid black;
        // max-height: 20rem;
        // max-width: 20rem;
        overflow: hidden;

        position: absolute;
        top: -6rem;
        left: -6rem;
        
        z-index: -10000;
        
        &-img {
            transform: rotate(90deg);
        }
    }

    &__nav {
        grid-area: navbar;
        margin-bottom: auto;
    }

    &__main {
        grid-area: main;

    }

    &__footer {
        grid-area: footer;
        margin-top: auto;
    }
}