@import 'styles/variables.scss';

.login {
    display: flex;
    flex-direction: column;

    
    width: 100rem;
    height: 60rem;
    
    justify-content: center;
    align-items: center;
    
    margin: auto;
    


    &-text {
        font-family: 'DM Sans', sans-serif;
        font-size: 4rem;

        color: $main-green;
        margin-right: auto;

        position: relative;
        left: 12rem;
    }

    &__main {

        width: 80%;
        height: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 1rem;
        background-color: $main-green;

        transition: all .5s;
        border: 1px solid $main-light;
        
        &:hover {
            border: 1px solid $dark-blue;
        }

        &-instructions {
            color: $main-light;
            font-size: 1.5rem;

            font-family: 'DM Mono', monospace;
            font-weight: normal;

        }

        &-field {
            font-size: 3rem;
            color: $main-light;
        }

        &-input {
            font-family: 'DM Mono', monospace;
            height: 8rem;
            width: 50rem;

            text-align: center;

            background-color: $main-light;
            border: none;
            border: 3px solid $main-green;
            transition: all .2s;


            &:focus {
                outline: none;
                border: none;
                border: 3px solid $dark-blue;
            }
        }
    }


}