@import 'styles/variables.scss';

.recipes {
    // border: 3px solid yellow;

    display: grid;
    // grid-template-rows: 1fr minmax(20rem, 5fr) 1fr;

    &__nav {
        margin-bottom: auto;
    }

    &__main {

        &-title {
            font-family: 'DM Mono', monospace;
            font-size: 4rem;
            margin-left: 10rem;
        }

        &--more-text {
            margin: auto;
            font-family: 'DM Sans', sans-serif;
            font-size: 2rem;
        }
    }

    &__footer {
        margin-top: auto;
    }


    &__Mcorner {
        // border: 2px solid black;
        // max-height: 20rem;
        // max-width: 20rem;
        overflow: hidden;

        position: absolute;
        top: -8rem;
        left: -8rem;
        
        z-index: -10000;
        
        &-img {
            transform: rotate(45deg);
        }
    }
}