.recipe {
    display: grid;
    grid-template-rows: 1fr minmax(20rem, 5fr) 1fr;
    grid-template-areas: 
        "navbar"
        "main"
        "footer";
    // row-gap: 2rem;
    // height: 100vh;

    &__nav {
        grid-area: navbar;
        margin-bottom: auto;
    }

    &__main {
        grid-area: main;
        margin-bottom: auto;
    }

    &__footer {
        grid-area: footer;
        margin-top: auto;
    }

}

.recipeInstructions {
    // border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 7rem;
    // margin-top: 0rem;
    // padding: 3rem;

    &__step {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;

        &--number {
            font-family: 'DM Mono', monospace;
            font-weight: 500;
            font-style: italic;
            font-size: 3rem;
            line-height: 3rem;
        }

        &--text {
            font-family: 'DM Sans', sans-serif;
            font-size: 3.3rem;
            margin-left: 2rem;
        }
    }
}